{
  "openapi": "3.0.0",
  "info": {
    "title": "如是 (Thus-Note) API",
    "description": "# 如是 (Thus-Note) API 文档\n\n如是笔记后端 RESTful API，基于 Express.js + TypeScript + MongoDB 构建。\n\n## 认证方式\n\n所有需要认证的接口支持以下三种方式传递 JWT 令牌：\n\n```\nAuthorization: Bearer <token>   # 推荐方式\nx-liu-token: <token>            # 兼容方式\n?token=<token>                  # 仅用于文件下载\n```\n\n## 响应格式\n\n所有接口统一返回以下格式：\n\n**成功：**\n```json\n{ \"code\": \"0000\", \"data\": { ... } }\n```\n\n**失败：**\n```json\n{ \"code\": \"C0001\", \"errMsg\": \"错误描述\", \"showMsg\": \"用户可见的提示\" }\n```\n\n## 错误码说明\n\n| 错误码 | 含义 |\n|--------|------|\n| 0000 | 成功 |\n| C0001 | 客户端错误 |\n| C0002 | 未授权（需要登录） |\n| C0003 | 禁止访问（权限不足） |\n| C0004 | 资源不存在 |\n| C0006 | 参数验证失败 |\n| E0001 | 服务器内部错误 |\n\n## 频率限制\n\n- 通用接口：100 次/15分钟\n- API 接口：30 次/分钟\n- 登录接口：5 次/15分钟",
    "version": "1.0.0",
    "contact": {
      "name": "Thus-Note Team",
      "url": "https://github.com/poboll/thus-note"
    },
    "license": {
      "name": "AGPL-3.0",
      "url": "https://www.gnu.org/licenses/agpl-3.0.html"
    }
  },
  "servers": [
    {
      "url": "https://thus.caiths.com",
      "description": "生产环境"
    },
    {
      "url": "http://localhost:3000",
      "description": "本地开发"
    }
  ],
  "tags": [
    {
      "name": "认证",
      "description": "用户注册、登录、OAuth、令牌管理"
    },
    {
      "name": "统一登录",
      "description": "兼容旧版的统一登录入口"
    },
    {
      "name": "用户设置(兼容)",
      "description": "兼容旧版的用户设置入口"
    },
    {
      "name": "笔记",
      "description": "笔记/线程 CRUD 操作"
    },
    {
      "name": "内容",
      "description": "笔记内容块管理"
    },
    {
      "name": "评论",
      "description": "笔记评论管理"
    },
    {
      "name": "同步",
      "description": "多端数据同步"
    },
    {
      "name": "设置",
      "description": "用户个人设置"
    },
    {
      "name": "文件",
      "description": "文件上传、下载、管理"
    },
    {
      "name": "AI",
      "description": "AI 智能助手功能"
    },
    {
      "name": "任务",
      "description": "任务管理"
    },
    {
      "name": "政策",
      "description": "服务条款与隐私政策"
    },
    {
      "name": "版本",
      "description": "应用版本检查"
    },
    {
      "name": "微信",
      "description": "微信 Webhook 和消息处理"
    },
    {
      "name": "开放连接",
      "description": "第三方账号绑定"
    },
    {
      "name": "管理后台",
      "description": "系统管理（需要管理员权限）"
    },
    {
      "name": "订阅",
      "description": "订阅计划管理"
    },
    {
      "name": "支付",
      "description": "支付订单处理"
    },
    {
      "name": "测试",
      "description": "测试和调试端点"
    },
    {
      "name": "健康检查",
      "description": "服务健康状态"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": [
          "健康检查"
        ],
        "operationId": "healthCheck",
        "summary": "服务健康检查",
        "responses": {
          "200": {
            "description": "操作成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "0000"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string"
                        },
                        "message": {
                          "type": "string"
                        },
                        "timestamp": {
                          "type": "string"
                        },
                        "connections": {
                          "type": "object",
                          "properties": {
                            "mongodb": {
                              "type": "boolean"
                            },
                            "redis": {
                              "type": "boolean"
                            }
                          }
                        },
                        "uptime": {
                          "type": "number"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": "0000",
                  "data": {
                    "status": "ok",
                    "message": "Thus-Note Server is running",
                    "timestamp": "2026-03-02T10:00:00.000Z",
                    "connections": {
                      "mongodb": true,
                      "redis": true
                    },
                    "uptime": 3600
                  }
                }
              }
            }
          }
        },
        "x-apifox-post-processors": [
          {
            "type": "script",
            "attributes": {
              "code": "pm.test(\"Status 200\", () => pm.response.to.have.status(200));\npm.test(\"Response code 0000\", () => {\n  const j = pm.response.json();\n  pm.expect(j.code).to.eql(\"0000\");\n});\npm.test(\"Has data field\", () => {\n  pm.expect(pm.response.json()).to.have.property(\"data\");\n});"
            }
          }
        ]
      }
    },
    "/health/db": {
      "get": {
        "tags": [
          "健康检查"
        ],
        "operationId": "dbHealthCheck",
        "summary": "数据库连接状态",
        "responses": {
          "200": {
            "description": "操作成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "0000"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "mongodb": {
                          "type": "string"
                        },
                        "redis": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": "0000",
                  "data": {
                    "mongodb": {
                      "connected": true,
                      "state": 1
                    },
                    "redis": {
                      "connected": true
                    }
                  }
                }
              }
            }
          }
        },
        "x-apifox-post-processors": [
          {
            "type": "script",
            "attributes": {
              "code": "pm.test(\"Status 200\", () => pm.response.to.have.status(200));\npm.test(\"Response code 0000\", () => {\n  const j = pm.response.json();\n  pm.expect(j.code).to.eql(\"0000\");\n});\npm.test(\"Has data field\", () => {\n  pm.expect(pm.response.json()).to.have.property(\"data\");\n});"
            }
          }
        ]
      }
    },
    "/api/auth/github/url": {
      "get": {
        "tags": [
          "认证"
        ],
        "operationId": "getGithubUrl",
        "summary": "获取 GitHub OAuth 授权 URL",
        "responses": {
          "200": {
            "description": "操作成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "0000"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": "0000",
                  "data": {
                    "url": "https://github.com/login/oauth/authorize?client_id=xxx&scope=user:email",
                    "state": "abc123"
                  }
                }
              }
            }
          }
        },
        "x-apifox-post-processors": [
          {
            "type": "script",
            "attributes": {
              "code": "pm.test(\"Status 200\", () => pm.response.to.have.status(200));\npm.test(\"Response code 0000\", () => {\n  const j = pm.response.json();\n  pm.expect(j.code).to.eql(\"0000\");\n});\npm.test(\"Has data field\", () => {\n  pm.expect(pm.response.json()).to.have.property(\"data\");\n});"
            }
          }
        ]
      }
    },
    "/api/auth/github": {
      "post": {
        "tags": [
          "认证"
        ],
        "operationId": "githubLogin",
        "summary": "GitHub OAuth 登录",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "code"
                ],
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "GitHub OAuth 授权码"
                  },
                  "client_key": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "code": "github_oauth_code_xxx"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "操作成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "0000"
                    },
                    "data": {
                      "$ref": "#/components/schemas/LoginResponse"
                    }
                  }
                },
                "example": {
                  "code": "0000",
                  "data": {
                    "userId": "507f1f77bcf86cd799439011",
                    "email": "user@example.com",
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI1MDdmMWY3N2JjZjg2Y2Q3OTk0MzkwMTEiLCJ0eXBlIjoiYWNjZXNzIiwiaWF0IjoxNzA5MzYwMDAwfQ.example",
                    "serial_id": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI1MDdmMWY3N2JjZjg2Y2Q3OTk0MzkwMTEiLCJ0eXBlIjoiYWNjZXNzIiwiaWF0IjoxNzA5MzYwMDAwfQ.example",
                    "theme": "light",
                    "language": "zh-Hans",
                    "open_id": "12345678",
                    "github_id": 12345678,
                    "spaceMemberList": []
                  }
                }
              }
            }
          },
          "401": {
            "description": "认证失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-apifox-post-processors": [
          {
            "type": "script",
            "attributes": {
              "code": "pm.test(\"Status 200\", () => pm.response.to.have.status(200));\npm.test(\"Returns token\", () => {\n  const j = pm.response.json();\n  pm.expect(j.code).to.eql(\"0000\");\n  pm.expect(j.data).to.have.property(\"token\");\n  pm.collectionVariables.set(\"token\", j.data.token);\n  pm.collectionVariables.set(\"refreshToken\", j.data.serial_id);\n});"
            }
          }
        ]
      }
    },
    "/api/auth/google/url": {
      "get": {
        "tags": [
          "认证"
        ],
        "operationId": "getGoogleUrl",
        "summary": "获取 Google OAuth 授权 URL",
        "responses": {
          "200": {
            "description": "操作成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "0000"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": "0000",
                  "data": {
                    "url": "https://accounts.google.com/o/oauth2/v2/auth?client_id=xxx&scope=openid%20email%20profile",
                    "state": "xyz789"
                  }
                }
              }
            }
          }
        },
        "x-apifox-post-processors": [
          {
            "type": "script",
            "attributes": {
              "code": "pm.test(\"Status 200\", () => pm.response.to.have.status(200));\npm.test(\"Response code 0000\", () => {\n  const j = pm.response.json();\n  pm.expect(j.code).to.eql(\"0000\");\n});\npm.test(\"Has data field\", () => {\n  pm.expect(pm.response.json()).to.have.property(\"data\");\n});"
            }
          }
        ]
      }
    },
    "/api/auth/google": {
      "post": {
        "tags": [
          "认证"
        ],
        "operationId": "googleLogin",
        "summary": "Google OAuth 登录",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "code"
                ],
                "properties": {
                  "code": {
                    "type": "string"
                  },
                  "client_key": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "idToken": "google_id_token_xxx"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "操作成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "0000"
                    },
                    "data": {
                      "$ref": "#/components/schemas/LoginResponse"
                    }
                  }
                },
                "example": {
                  "code": "0000",
                  "data": {
                    "userId": "507f1f77bcf86cd799439011",
                    "email": "user@example.com",
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI1MDdmMWY3N2JjZjg2Y2Q3OTk0MzkwMTEiLCJ0eXBlIjoiYWNjZXNzIiwiaWF0IjoxNzA5MzYwMDAwfQ.example",
                    "serial_id": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI1MDdmMWY3N2JjZjg2Y2Q3OTk0MzkwMTEiLCJ0eXBlIjoiYWNjZXNzIiwiaWF0IjoxNzA5MzYwMDAwfQ.example",
                    "theme": "light",
                    "language": "zh-Hans",
                    "open_id": "google_sub_xxx",
                    "spaceMemberList": []
                  }
                }
              }
            }
          },
          "401": {
            "description": "认证失败",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-apifox-post-processors": [
          {
            "type": "script",
            "attributes": {
              "code": "pm.test(\"Status 200\", () => pm.response.to.have.status(200));\npm.test(\"Returns token\", () => {\n  const j = pm.response.json();\n  pm.expect(j.code).to.eql(\"0000\");\n  pm.expect(j.data).to.have.property(\"token\");\n  pm.collectionVariables.set(\"token\", j.data.token);\n  pm.collectionVariables.set(\"refreshToken\", j.data.serial_id);\n});"
            }
          }
        ]
      }
    },
    "/api/auth/wechat/url": {
      "get": {
        "tags": [
          "认证"
        ],
        "operationId": "getWechatUrl",
        "summary": "获取微信 OAuth 授权 URL",
        "responses": {
          "200": {
            "description": "操作成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "0000"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": "0000",
                  "data": {
                    "url": "https://open.weixin.qq.com/connect/oauth2/authorize?appid=xxx&scope=snsapi_userinfo",
                    "state": "wx123"
                  }
                }
              }
            }
          }
        },
        "x-apifox-post-processors": [
          {
            "type": "script",
            "attributes": {
              "code": "pm.test(\"Status 200\", () => pm.response.to.have.status(200));\npm.test(\"Response code 0000\", () => {\n  const j = pm.response.json();\n  pm.expect(j.code).to.eql(\"0000\");\n});\npm.test(\"Has data field\", () => {\n  pm.expect(pm.response.json()).to.have.property(\"data\");\n});"
            }
          }
        ]
      }
    },
    "/api/auth/wechat/gzh": {
      "post": {
        "tags": [
          "认证"
        ],
        "operationId": "wechatGzhLogin",
        "summary": "微信公众号登录",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "code"
                ],
                "properties": {
                  "code": {
                    "type": "string"
                  },
                  "client_key": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "code": "wechat_oauth_code_xxx"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "操作成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "0000"
                    },
                    "data": {
                      "$ref": "#/components/schemas/LoginResponse"
                    }
                  }
                },
                "example": {
                  "code": "0000",
                  "data": {
                    "userId": "507f1f77bcf86cd799439011",
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI1MDdmMWY3N2JjZjg2Y2Q3OTk0MzkwMTEiLCJ0eXBlIjoiYWNjZXNzIiwiaWF0IjoxNzA5MzYwMDAwfQ.example",
                    "serial_id": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI1MDdmMWY3N2JjZjg2Y2Q3OTk0MzkwMTEiLCJ0eXBlIjoiYWNjZXNzIiwiaWF0IjoxNzA5MzYwMDAwfQ.example",
                    "theme": "light",
                    "language": "zh-Hans",
                    "open_id": "wx_openid_xxx",
                    "spaceMemberList": []
                  }
                }
              }
            }
          }
        },
        "x-apifox-post-processors": [
          {
            "type": "script",
            "attributes": {
              "code": "pm.test(\"Status 200\", () => pm.response.to.have.status(200));\npm.test(\"Returns token\", () => {\n  const j = pm.response.json();\n  pm.expect(j.code).to.eql(\"0000\");\n  pm.expect(j.data).to.have.property(\"token\");\n  pm.collectionVariables.set(\"token\", j.data.token);\n  pm.collectionVariables.set(\"refreshToken\", j.data.serial_id);\n});"
            }
          }
        ]
      }
    },
    "/api/auth/wechat/mini": {
      "post": {
        "tags": [
          "认证"
        ],
        "operationId": "wechatMiniLogin",
        "summary": "微信小程序登录",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "code"
                ],
                "properties": {
                  "code": {
                    "type": "string"
                  },
                  "client_key": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "code": "mini_program_code_xxx"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "操作成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "0000"
                    },
                    "data": {
                      "$ref": "#/components/schemas/LoginResponse"
                    }
                  }
                },
                "example": {
                  "code": "0000",
                  "data": {
                    "message": "微信小程序登录功能待实现"
                  }
                }
              }
            }
          }
        },
        "x-apifox-post-processors": [
          {
            "type": "script",
            "attributes": {
              "code": "pm.test(\"Status 200\", () => pm.response.to.have.status(200));\npm.test(\"Response code 0000\", () => {\n  const j = pm.response.json();\n  pm.expect(j.code).to.eql(\"0000\");\n});\npm.test(\"Has data field\", () => {\n  pm.expect(pm.response.json()).to.have.property(\"data\");\n});"
            }
          }
        ]
      }
    },
    "/api/auth/email": {
      "post": {
        "tags": [
          "认证"
        ],
        "operationId": "emailLogin",
        "summary": "邮箱密码登录",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string"
                  },
                  "client_key": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "email": "user@example.com",
                "password": "Password123!",
                "client_key": "web"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "操作成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "0000"
                    },
                    "data": {
                      "$ref": "#/components/schemas/LoginResponse"
                    }
                  }
                },
                "example": {
                  "code": "0000",
                  "data": {
                    "userId": "507f1f77bcf86cd799439011",
                    "email": "user@example.com",
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI1MDdmMWY3N2JjZjg2Y2Q3OTk0MzkwMTEiLCJ0eXBlIjoiYWNjZXNzIiwiaWF0IjoxNzA5MzYwMDAwfQ.example",
                    "serial_id": "space_001",
                    "theme": "light",
                    "language": "zh-CN"
                  }
                }
              }
            }
          },
          "401": {
            "description": "邮箱或密码错误",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-apifox-post-processors": [
          {
            "type": "script",
            "attributes": {
              "code": "pm.test(\"Status 200\", () => pm.response.to.have.status(200));\npm.test(\"Returns token\", () => {\n  const j = pm.response.json();\n  pm.expect(j.code).to.eql(\"0000\");\n  pm.expect(j.data).to.have.property(\"token\");\n  pm.collectionVariables.set(\"token\", j.data.token);\n  pm.collectionVariables.set(\"refreshToken\", j.data.serial_id);\n});"
            }
          }
        ]
      }
    },
    "/api/auth/phone": {
      "post": {
        "tags": [
          "认证"
        ],
        "operationId": "phoneLogin",
        "summary": "手机验证码登录",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "phone",
                  "code"
                ],
                "properties": {
                  "phone": {
                    "type": "string"
                  },
                  "code": {
                    "type": "string",
                    "minLength": 6,
                    "maxLength": 6
                  }
                }
              },
              "example": {
                "phone": "13800138000",
                "code": "123456"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "操作成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "0000"
                    },
                    "data": {
                      "$ref": "#/components/schemas/LoginResponse"
                    }
                  }
                },
                "example": {
                  "code": "0000",
                  "data": {
                    "user": {
                      "id": "507f1f77bcf86cd799439011",
                      "username": "user_8000",
                      "phone": "13800138000"
                    },
                    "accessToken": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI1MDdmMWY3N2JjZjg2Y2Q3OTk0MzkwMTEiLCJ0eXBlIjoiYWNjZXNzIiwiaWF0IjoxNzA5MzYwMDAwfQ.example",
                    "refreshToken": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI1MDdmMWY3N2JjZjg2Y2Q3OTk0MzkwMTEiLCJ0eXBlIjoiYWNjZXNzIiwiaWF0IjoxNzA5MzYwMDAwfQ.example"
                  }
                }
              }
            }
          }
        },
        "x-apifox-post-processors": [
          {
            "type": "script",
            "attributes": {
              "code": "pm.test(\"Status 200\", () => pm.response.to.have.status(200));\npm.test(\"Returns token\", () => {\n  const j = pm.response.json();\n  pm.expect(j.code).to.eql(\"0000\");\n  pm.expect(j.data).to.have.property(\"token\");\n  pm.collectionVariables.set(\"token\", j.data.token);\n  pm.collectionVariables.set(\"refreshToken\", j.data.serial_id);\n});"
            }
          }
        ]
      }
    },
    "/api/auth/send-code": {
      "post": {
        "tags": [
          "认证"
        ],
        "operationId": "sendVerificationCode",
        "summary": "发送验证码",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "type",
                  "identifier"
                ],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "EMAIL",
                      "PHONE"
                    ]
                  },
                  "identifier": {
                    "type": "string",
                    "description": "邮箱或手机号"
                  }
                }
              },
              "example": {
                "type": "EMAIL",
                "identifier": "user@example.com"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "操作成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "0000"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        },
                        "expiresIn": {
                          "type": "integer",
                          "example": 300
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": "0000",
                  "data": {
                    "message": "验证码已发送",
                    "expiresIn": 300
                  }
                }
              }
            }
          },
          "429": {
            "description": "发送频率过高",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-apifox-post-processors": [
          {
            "type": "script",
            "attributes": {
              "code": "pm.test(\"Status 200\", () => pm.response.to.have.status(200));\npm.test(\"Response code 0000\", () => {\n  const j = pm.response.json();\n  pm.expect(j.code).to.eql(\"0000\");\n});\npm.test(\"Has data field\", () => {\n  pm.expect(pm.response.json()).to.have.property(\"data\");\n});"
            }
          }
        ]
      }
    },
    "/api/auth/verify-code": {
      "post": {
        "tags": [
          "认证"
        ],
        "operationId": "verifyCodeLogin",
        "summary": "验证码登录",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "type",
                  "identifier",
                  "code"
                ],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "EMAIL",
                      "PHONE"
                    ]
                  },
                  "identifier": {
                    "type": "string"
                  },
                  "code": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "type": "EMAIL",
                "identifier": "user@example.com",
                "code": "654321"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "操作成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "0000"
                    },
                    "data": {
                      "$ref": "#/components/schemas/LoginResponse"
                    }
                  }
                },
                "example": {
                  "code": "0000",
                  "data": {
                    "userId": "507f1f77bcf86cd799439011",
                    "email": "user@example.com",
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI1MDdmMWY3N2JjZjg2Y2Q3OTk0MzkwMTEiLCJ0eXBlIjoiYWNjZXNzIiwiaWF0IjoxNzA5MzYwMDAwfQ.example",
                    "serial_id": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI1MDdmMWY3N2JjZjg2Y2Q3OTk0MzkwMTEiLCJ0eXBlIjoiYWNjZXNzIiwiaWF0IjoxNzA5MzYwMDAwfQ.example",
                    "theme": "light",
                    "language": "zh-Hans",
                    "spaceMemberList": []
                  }
                }
              }
            }
          }
        },
        "x-apifox-post-processors": [
          {
            "type": "script",
            "attributes": {
              "code": "pm.test(\"Status 200\", () => pm.response.to.have.status(200));\npm.test(\"Returns token\", () => {\n  const j = pm.response.json();\n  pm.expect(j.code).to.eql(\"0000\");\n  pm.expect(j.data).to.have.property(\"token\");\n  pm.collectionVariables.set(\"token\", j.data.token);\n  pm.collectionVariables.set(\"refreshToken\", j.data.serial_id);\n});"
            }
          }
        ]
      }
    },
    "/api/auth/register": {
      "post": {
        "tags": [
          "认证"
        ],
        "operationId": "register",
        "summary": "用户注册",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "username",
                  "email",
                  "password"
                ],
                "properties": {
                  "username": {
                    "type": "string",
                    "minLength": 2,
                    "maxLength": 50
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string",
                    "minLength": 8,
                    "maxLength": 128,
                    "description": "需包含大小写字母、数字、特殊字符"
                  }
                }
              },
              "example": {
                "username": "张三",
                "email": "user@example.com",
                "password": "Password123!"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "操作成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "0000"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "user": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "username": {
                              "type": "string"
                            },
                            "email": {
                              "type": "string"
                            }
                          }
                        },
                        "token": {
                          "type": "string"
                        },
                        "serial_id": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": "0000",
                  "data": {
                    "user": {
                      "id": "507f1f77bcf86cd799439011",
                      "username": "张三",
                      "email": "user@example.com"
                    },
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI1MDdmMWY3N2JjZjg2Y2Q3OTk0MzkwMTEiLCJ0eXBlIjoiYWNjZXNzIiwiaWF0IjoxNzA5MzYwMDAwfQ.example",
                    "serial_id": "space_001"
                  }
                }
              }
            }
          },
          "409": {
            "description": "邮箱已注册",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-apifox-post-processors": [
          {
            "type": "script",
            "attributes": {
              "code": "pm.test(\"Status 200\", () => pm.response.to.have.status(200));\npm.test(\"Returns token\", () => {\n  const j = pm.response.json();\n  pm.expect(j.code).to.eql(\"0000\");\n  pm.expect(j.data).to.have.property(\"token\");\n  pm.collectionVariables.set(\"token\", j.data.token);\n  pm.collectionVariables.set(\"refreshToken\", j.data.serial_id);\n});"
            }
          }
        ]
      }
    },
    "/api/auth/refresh": {
      "post": {
        "tags": [
          "认证"
        ],
        "operationId": "refreshToken",
        "summary": "刷新访问令牌",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "refreshToken"
                ],
                "properties": {
                  "refreshToken": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "refreshToken": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI1MDdmMWY3N2JjZjg2Y2Q3OTk0MzkwMTEiLCJ0eXBlIjoiYWNjZXNzIiwiaWF0IjoxNzA5MzYwMDAwfQ.example"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "操作成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "0000"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "token": {
                          "type": "string"
                        },
                        "refreshToken": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": "0000",
                  "data": {
                    "token": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI1MDdmMWY3N2JjZjg2Y2Q3OTk0MzkwMTEiLCJ0eXBlIjoiYWNjZXNzIiwiaWF0IjoxNzA5MzYwMDAwfQ.example",
                    "refreshToken": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI1MDdmMWY3N2JjZjg2Y2Q3OTk0MzkwMTEiLCJ0eXBlIjoiYWNjZXNzIiwiaWF0IjoxNzA5MzYwMDAwfQ.example"
                  }
                }
              }
            }
          },
          "401": {
            "description": "刷新令牌无效",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-apifox-post-processors": [
          {
            "type": "script",
            "attributes": {
              "code": "pm.test(\"Status 200\", () => pm.response.to.have.status(200));\npm.test(\"Response code 0000\", () => {\n  const j = pm.response.json();\n  pm.expect(j.code).to.eql(\"0000\");\n});\npm.test(\"Has data field\", () => {\n  pm.expect(pm.response.json()).to.have.property(\"data\");\n});"
            }
          }
        ]
      }
    },
    "/api/auth/logout": {
      "post": {
        "tags": [
          "认证"
        ],
        "operationId": "logout",
        "summary": "用户登出",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "操作成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "0000"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": "0000",
                  "data": {
                    "message": "登出成功"
                  }
                }
              }
            }
          }
        },
        "x-apifox-post-processors": [
          {
            "type": "script",
            "attributes": {
              "code": "pm.test(\"Status 200\", () => pm.response.to.have.status(200));\npm.test(\"Response code 0000\", () => {\n  const j = pm.response.json();\n  pm.expect(j.code).to.eql(\"0000\");\n});\npm.test(\"Has data field\", () => {\n  pm.expect(pm.response.json()).to.have.property(\"data\");\n});"
            }
          }
        ]
      }
    },
    "/api/auth/me": {
      "get": {
        "tags": [
          "认证"
        ],
        "operationId": "getCurrentUser",
        "summary": "获取当前用户信息",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "操作成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "0000"
                    },
                    "data": {
                      "$ref": "#/components/schemas/User"
                    }
                  }
                },
                "example": {
                  "code": "0000",
                  "data": {
                    "_id": "507f1f77bcf86cd799439011",
                    "username": "张三",
                    "email": "user@example.com",
                    "role": "user",
                    "status": "active",
                    "credits": 100
                  }
                }
              }
            }
          },
          "401": {
            "description": "未授权",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-apifox-post-processors": [
          {
            "type": "script",
            "attributes": {
              "code": "pm.test(\"Status 200\", () => pm.response.to.have.status(200));\npm.test(\"Response code 0000\", () => {\n  const j = pm.response.json();\n  pm.expect(j.code).to.eql(\"0000\");\n});\npm.test(\"Has data field\", () => {\n  pm.expect(pm.response.json()).to.have.property(\"data\");\n});"
            }
          }
        ]
      }
    },
    "/api/auth/create-test-user": {
      "post": {
        "tags": [
          "认证"
        ],
        "operationId": "createTestUser",
        "summary": "创建测试用户（仅开发环境）",
        "responses": {
          "201": {
            "description": "操作成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "0000"
                    },
                    "data": {
                      "$ref": "#/components/schemas/LoginResponse"
                    }
                  }
                },
                "example": {
                  "code": "0000",
                  "data": {
                    "message": "测试用户创建成功",
                    "user": {
                      "id": "507f1f77bcf86cd799439011",
                      "username": "test",
                      "email": "test@example.com"
                    }
                  }
                }
              }
            }
          }
        },
        "x-apifox-post-processors": [
          {
            "type": "script",
            "attributes": {
              "code": "pm.test(\"Status 201\", () => pm.response.to.have.status(201));\npm.test(\"Response code 0000\", () => pm.expect(pm.response.json().code).to.eql(\"0000\"));\npm.test(\"Has _id\", () => pm.expect(pm.response.json().data).to.have.property(\"_id\"));"
            }
          }
        ]
      }
    },
    "/user-login": {
      "post": {
        "tags": [
          "统一登录"
        ],
        "operationId": "unifiedLogin",
        "summary": "统一登录入口（兼容旧版）",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "operateType"
                ],
                "properties": {
                  "operateType": {
                    "type": "string",
                    "enum": [
                      "init",
                      "email",
                      "email_code",
                      "phone",
                      "phone_code",
                      "github",
                      "google",
                      "wechat",
                      "users_select"
                    ],
                    "description": "操作类型"
                  },
                  "email": {
                    "type": "string"
                  },
                  "phone": {
                    "type": "string"
                  },
                  "code": {
                    "type": "string"
                  },
                  "client_key": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "operateType": "email_code",
                "email": "user@example.com",
                "code": "123456"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "操作成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "0000"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "x-apifox-post-processors": [
          {
            "type": "script",
            "attributes": {
              "code": "pm.test(\"Status 200\", () => pm.response.to.have.status(200));\npm.test(\"Response code 0000\", () => {\n  const j = pm.response.json();\n  pm.expect(j.code).to.eql(\"0000\");\n});\npm.test(\"Has data field\", () => {\n  pm.expect(pm.response.json()).to.have.property(\"data\");\n});"
            }
          }
        ]
      }
    },
    "/user-settings": {
      "post": {
        "tags": [
          "用户设置(兼容)"
        ],
        "operationId": "unifiedUserSettings",
        "summary": "统一用户设置入口（兼容旧版）",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "operateType"
                ],
                "properties": {
                  "operateType": {
                    "type": "string",
                    "enum": [
                      "enter",
                      "latest",
                      "membership",
                      "logout"
                    ]
                  }
                }
              },
              "example": {
                "operateType": "enter"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "操作成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "0000"
                    },
                    "data": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "x-apifox-post-processors": [
          {
            "type": "script",
            "attributes": {
              "code": "pm.test(\"Status 200\", () => pm.response.to.have.status(200));\npm.test(\"Response code 0000\", () => {\n  const j = pm.response.json();\n  pm.expect(j.code).to.eql(\"0000\");\n});\npm.test(\"Has data field\", () => {\n  pm.expect(pm.response.json()).to.have.property(\"data\");\n});"
            }
          }
        ]
      }
    },
    "/api/threads": {
      "get": {
        "tags": [
          "笔记"
        ],
        "operationId": "getThreads",
        "summary": "获取笔记列表",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "note",
                "task",
                "calendar",
                "kanban",
                "drawing"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "archived",
                "deleted"
              ]
            }
          },
          {
            "name": "tag",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 50
            }
          },
          {
            "name": "keyword",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 100
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "操作成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "0000"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Thread"
                          }
                        },
                        "pagination": {
                          "$ref": "#/components/schemas/Pagination"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": "0000",
                  "data": {
                    "items": [
                      {
                        "_id": "507f1f77bcf86cd799439012",
                        "type": "note",
                        "title": "我的第一篇笔记",
                        "tags": [
                          "工作",
                          "重要"
                        ],
                        "status": "active",
                        "createdAt": "2026-01-01T00:00:00.000Z"
                      }
                    ],
                    "pagination": {
                      "page": 1,
                      "limit": 20,
                      "total": 1,
                      "totalPages": 1
                    }
                  }
                }
              }
            }
          }
        },
        "x-apifox-post-processors": [
          {
            "type": "script",
            "attributes": {
              "code": "pm.test(\"Status 200\", () => pm.response.to.have.status(200));\npm.test(\"Response code 0000\", () => {\n  const j = pm.response.json();\n  pm.expect(j.code).to.eql(\"0000\");\n});\npm.test(\"Has data field\", () => {\n  pm.expect(pm.response.json()).to.have.property(\"data\");\n});"
            }
          }
        ]
      },
      "post": {
        "tags": [
          "笔记"
        ],
        "operationId": "createThread",
        "summary": "创建笔记",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "title"
                ],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": [
                      "note",
                      "task",
                      "calendar",
                      "kanban",
                      "drawing"
                    ],
                    "default": "note"
                  },
                  "title": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 200
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 10000
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "maxLength": 50
                    },
                    "maxItems": 10
                  },
                  "isPublic": {
                    "type": "boolean",
                    "default": false
                  },
                  "settings": {
                    "type": "object"
                  }
                }
              },
              "example": {
                "type": "note",
                "title": "新笔记标题",
                "description": "笔记描述",
                "tags": [
                  "工作",
                  "学习"
                ],
                "isPublic": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "操作成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "0000"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Thread"
                    }
                  }
                },
                "example": {
                  "code": "0000",
                  "data": {
                    "_id": "507f1f77bcf86cd799439012",
                    "type": "note",
                    "title": "新笔记标题",
                    "tags": [
                      "工作",
                      "学习"
                    ],
                    "status": "active",
                    "userId": "507f1f77bcf86cd799439011"
                  }
                }
              }
            }
          }
        },
        "x-apifox-post-processors": [
          {
            "type": "script",
            "attributes": {
              "code": "pm.test(\"Status 201\", () => pm.response.to.have.status(201));\npm.test(\"Response code 0000\", () => pm.expect(pm.response.json().code).to.eql(\"0000\"));\npm.test(\"Has _id\", () => pm.expect(pm.response.json().data).to.have.property(\"_id\"));"
            }
          }
        ]
      }
    },
    "/api/threads/{id}": {
      "get": {
        "tags": [
          "笔记"
        ],
        "operationId": "getThread",
        "summary": "获取单个笔记",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "操作成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "0000"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Thread"
                    }
                  }
                },
                "example": {
                  "code": "0000",
                  "data": {
                    "_id": "507f1f77bcf86cd799439012",
                    "type": "note",
                    "title": "笔记标题",
                    "tags": [
                      "工作"
                    ],
                    "status": "active",
                    "isPublic": false
                  }
                }
              }
            }
          },
          "404": {
            "description": "笔记不存在",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "x-apifox-post-processors": [
          {
            "type": "script",
            "attributes": {
              "code": "pm.test(\"Status 200\", () => pm.response.to.have.status(200));\npm.test(\"Response code 0000\", () => {\n  const j = pm.response.json();\n  pm.expect(j.code).to.eql(\"0000\");\n});\npm.test(\"Has data field\", () => {\n  pm.expect(pm.response.json()).to.have.property(\"data\");\n});"
            }
          }
        ]
      },
      "put": {
        "tags": [
          "笔记"
        ],
        "operationId": "updateThread",
        "summary": "更新笔记",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "maxLength": 200
                  },
                  "description": {
                    "type": "string",
                    "maxLength": 10000
                  },
                  "tags": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "active",
                      "archived",
                      "deleted"
                    ]
                  },
                  "content": {
                    "type": "string",
                    "maxLength": 100000
                  }
                }
              },
              "example": {
                "title": "更新后的标题",
                "tags": [
                  "工作",
                  "更新"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "操作成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "0000"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Thread"
                    }
                  }
                }
              }
            }
          }
        },
        "x-apifox-post-processors": [
          {
            "type": "script",
            "attributes": {
              "code": "pm.test(\"Status 200\", () => pm.response.to.have.status(200));\npm.test(\"Response code 0000\", () => {\n  const j = pm.response.json();\n  pm.expect(j.code).to.eql(\"0000\");\n});\npm.test(\"Has data field\", () => {\n  pm.expect(pm.response.json()).to.have.property(\"data\");\n});"
            }
          }
        ]
      },
      "delete": {
        "tags": [
          "笔记"
        ],
        "operationId": "deleteThread",
        "summary": "删除笔记（软删除）",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "操作成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "0000"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": "0000",
                  "data": {
                    "message": "线程已删除"
                  }
                }
              }
            }
          }
        },
        "x-apifox-post-processors": [
          {
            "type": "script",
            "attributes": {
              "code": "pm.test(\"Status 200\", () => pm.response.to.have.status(200));\npm.test(\"Delete success\", () => pm.expect(pm.response.json().code).to.eql(\"0000\"));"
            }
          }
        ]
      }
    },
    "/api/threads/{id}/archive": {
      "post": {
        "tags": [
          "笔记"
        ],
        "operationId": "archiveThread",
        "summary": "归档笔记",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "操作成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "0000"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Thread"
                    }
                  }
                },
                "example": {
                  "code": "0000",
                  "data": {
                    "_id": "507f1f77bcf86cd799439012",
                    "status": "archived",
                    "title": "已归档的笔记"
                  }
                }
              }
            }
          }
        },
        "x-apifox-post-processors": [
          {
            "type": "script",
            "attributes": {
              "code": "pm.test(\"Status 200\", () => pm.response.to.have.status(200));\npm.test(\"Response code 0000\", () => {\n  const j = pm.response.json();\n  pm.expect(j.code).to.eql(\"0000\");\n});\npm.test(\"Has data field\", () => {\n  pm.expect(pm.response.json()).to.have.property(\"data\");\n});"
            }
          }
        ]
      }
    },
    "/api/threads/search": {
      "get": {
        "tags": [
          "笔记"
        ],
        "operationId": "searchThreads",
        "summary": "搜索笔记",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "note",
                "task",
                "calendar",
                "kanban",
                "drawing"
              ]
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "操作成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "0000"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Thread"
                          }
                        },
                        "pagination": {
                          "$ref": "#/components/schemas/Pagination"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": "0000",
                  "data": {
                    "items": [
                      {
                        "_id": "507f1f77bcf86cd799439012",
                        "title": "搜索结果笔记",
                        "tags": [
                          "工作"
                        ],
                        "status": "active"
                      }
                    ],
                    "pagination": {
                      "page": 1,
                      "limit": 20,
                      "total": 1,
                      "totalPages": 1
                    }
                  }
                }
              }
            }
          }
        },
        "x-apifox-post-processors": [
          {
            "type": "script",
            "attributes": {
              "code": "pm.test(\"Status 200\", () => pm.response.to.have.status(200));\npm.test(\"Response code 0000\", () => {\n  const j = pm.response.json();\n  pm.expect(j.code).to.eql(\"0000\");\n});\npm.test(\"Has data field\", () => {\n  pm.expect(pm.response.json()).to.have.property(\"data\");\n});"
            }
          }
        ]
      }
    },
    "/api/contents": {
      "get": {
        "tags": [
          "内容"
        ],
        "operationId": "getContents",
        "summary": "获取内容列表",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "threadId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "操作成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "0000"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Content"
                          }
                        },
                        "pagination": {
                          "$ref": "#/components/schemas/Pagination"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": "0000",
                  "data": {
                    "contents": [
                      {
                        "_id": "507f1f77bcf86cd799439013",
                        "threadId": "507f1f77bcf86cd799439012",
                        "version": 3,
                        "blocks": [
                          {
                            "type": "text",
                            "content": "内容文字",
                            "order": 0
                          }
                        ]
                      }
                    ],
                    "pagination": {
                      "page": 1,
                      "limit": 20,
                      "total": 1
                    }
                  }
                }
              }
            }
          }
        },
        "x-apifox-post-processors": [
          {
            "type": "script",
            "attributes": {
              "code": "pm.test(\"Status 200\", () => pm.response.to.have.status(200));\npm.test(\"Response code 0000\", () => {\n  const j = pm.response.json();\n  pm.expect(j.code).to.eql(\"0000\");\n});\npm.test(\"Has data field\", () => {\n  pm.expect(pm.response.json()).to.have.property(\"data\");\n});"
            }
          }
        ]
      },
      "post": {
        "tags": [
          "内容"
        ],
        "operationId": "createContent",
        "summary": "创建内容",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "threadId",
                  "blocks"
                ],
                "properties": {
                  "threadId": {
                    "type": "string"
                  },
                  "blocks": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ContentBlock"
                    }
                  },
                  "isEncrypted": {
                    "type": "boolean",
                    "default": false
                  },
                  "encryptedData": {
                    "type": "string"
                  }
                }
              },
              "example": {
                "threadId": "507f1f77bcf86cd799439012",
                "blocks": [
                  {
                    "type": "text",
                    "content": "这是一段文字内容",
                    "order": 0,
                    "properties": {}
                  },
                  {
                    "type": "heading",
                    "content": "标题",
                    "order": 1,
                    "properties": {
                      "level": 2
                    }
                  }
                ],
                "isEncrypted": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "操作成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "0000"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Content"
                    }
                  }
                },
                "example": {
                  "code": "0000",
                  "data": {
                    "_id": "507f1f77bcf86cd799439013",
                    "threadId": "507f1f77bcf86cd799439012",
                    "version": 1,
                    "blocks": [
                      {
                        "type": "text",
                        "content": "这是一段文字内容",
                        "order": 0
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "x-apifox-post-processors": [
          {
            "type": "script",
            "attributes": {
              "code": "pm.test(\"Status 201\", () => pm.response.to.have.status(201));\npm.test(\"Response code 0000\", () => pm.expect(pm.response.json().code).to.eql(\"0000\"));\npm.test(\"Has _id\", () => pm.expect(pm.response.json().data).to.have.property(\"_id\"));"
            }
          }
        ]
      }
    },
    "/api/contents/latest/{threadId}": {
      "get": {
        "tags": [
          "内容"
        ],
        "operationId": "getLatestContent",
        "summary": "获取笔记最新内容",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "threadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "操作成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "0000"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Content"
                    }
                  }
                },
                "example": {
                  "code": "0000",
                  "data": {
                    "_id": "507f1f77bcf86cd799439013",
                    "threadId": "507f1f77bcf86cd799439012",
                    "version": 5,
                    "blocks": [
                      {
                        "type": "text",
                        "content": "最新内容",
                        "order": 0
                      },
                      {
                        "type": "heading",
                        "content": "标题",
                        "order": 1,
                        "properties": {
                          "level": 2
                        }
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "x-apifox-post-processors": [
          {
            "type": "script",
            "attributes": {
              "code": "pm.test(\"Status 200\", () => pm.response.to.have.status(200));\npm.test(\"Response code 0000\", () => {\n  const j = pm.response.json();\n  pm.expect(j.code).to.eql(\"0000\");\n});\npm.test(\"Has data field\", () => {\n  pm.expect(pm.response.json()).to.have.property(\"data\");\n});"
            }
          }
        ]
      }
    },
    "/api/contents/history/{threadId}": {
      "get": {
        "tags": [
          "内容"
        ],
        "operationId": "getContentHistory",
        "summary": "获取内容版本历史",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "threadId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "操作成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "0000"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Content"
                      }
                    }
                  }
                },
                "example": {
                  "code": "0000",
                  "data": {
                    "contents": [
                      {
                        "_id": "507f1f77bcf86cd799439013",
                        "version": 5,
                        "createdAt": "2026-03-02T10:00:00.000Z"
                      },
                      {
                        "_id": "507f1f77bcf86cd799439099",
                        "version": 4,
                        "createdAt": "2026-03-01T10:00:00.000Z"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "x-apifox-post-processors": [
          {
            "type": "script",
            "attributes": {
              "code": "pm.test(\"Status 200\", () => pm.response.to.have.status(200));\npm.test(\"Response code 0000\", () => {\n  const j = pm.response.json();\n  pm.expect(j.code).to.eql(\"0000\");\n});\npm.test(\"Has data field\", () => {\n  pm.expect(pm.response.json()).to.have.property(\"data\");\n});"
            }
          }
        ]
      }
    },
    "/api/contents/{id}": {
      "put": {
        "tags": [
          "内容"
        ],
        "operationId": "updateContent",
        "summary": "更新内容",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "blocks": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/ContentBlock"
                    }
                  },
                  "isEncrypted": {
                    "type": "boolean"
                  }
                }
              },
              "example": {
                "blocks": [
                  {
                    "type": "text",
                    "content": "更新后的内容",
                    "order": 0
                  }
                ],
                "isEncrypted": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "操作成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "0000"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Content"
                    }
                  }
                },
                "example": {
                  "code": "0000",
                  "data": {
                    "_id": "507f1f77bcf86cd799439013",
                    "version": 6,
                    "blocks": [
                      {
                        "type": "text",
                        "content": "更新后的内容",
                        "order": 0
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "x-apifox-post-processors": [
          {
            "type": "script",
            "attributes": {
              "code": "pm.test(\"Status 200\", () => pm.response.to.have.status(200));\npm.test(\"Response code 0000\", () => {\n  const j = pm.response.json();\n  pm.expect(j.code).to.eql(\"0000\");\n});\npm.test(\"Has data field\", () => {\n  pm.expect(pm.response.json()).to.have.property(\"data\");\n});"
            }
          }
        ]
      },
      "delete": {
        "tags": [
          "内容"
        ],
        "operationId": "deleteContent",
        "summary": "删除内容",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "操作成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "0000"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": "0000",
                  "data": {
                    "message": "内容已删除"
                  }
                }
              }
            }
          }
        },
        "x-apifox-post-processors": [
          {
            "type": "script",
            "attributes": {
              "code": "pm.test(\"Status 200\", () => pm.response.to.have.status(200));\npm.test(\"Delete success\", () => pm.expect(pm.response.json().code).to.eql(\"0000\"));"
            }
          }
        ]
      }
    },
    "/api/contents/{id}/blocks": {
      "post": {
        "tags": [
          "内容"
        ],
        "operationId": "addContentBlock",
        "summary": "添加内容块",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContentBlock"
              },
              "example": {
                "block": {
                  "type": "image",
                  "content": "",
                  "order": 2,
                  "properties": {
                    "url": "https://thus.caiths.com/uploads/img.jpg",
                    "alt": "图片描述"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "操作成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "0000"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Content"
                    }
                  }
                },
                "example": {
                  "code": "0000",
                  "data": {
                    "_id": "507f1f77bcf86cd799439013",
                    "version": 7,
                    "blocks": [
                      {
                        "type": "text",
                        "content": "文字",
                        "order": 0
                      },
                      {
                        "type": "image",
                        "order": 2
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "x-apifox-post-processors": [
          {
            "type": "script",
            "attributes": {
              "code": "pm.test(\"Status 200\", () => pm.response.to.have.status(200));\npm.test(\"Response code 0000\", () => {\n  const j = pm.response.json();\n  pm.expect(j.code).to.eql(\"0000\");\n});\npm.test(\"Has data field\", () => {\n  pm.expect(pm.response.json()).to.have.property(\"data\");\n});"
            }
          }
        ]
      }
    },
    "/api/contents/{id}/blocks/{index}": {
      "put": {
        "tags": [
          "内容"
        ],
        "operationId": "updateContentBlock",
        "summary": "更新内容块",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "index",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContentBlock"
              },
              "example": {
                "block": {
                  "type": "text",
                  "content": "修改后的文字内容",
                  "order": 0,
                  "properties": {}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "操作成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "0000"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Content"
                    }
                  }
                },
                "example": {
                  "code": "0000",
                  "data": {
                    "_id": "507f1f77bcf86cd799439013",
                    "version": 8
                  }
                }
              }
            }
          }
        },
        "x-apifox-post-processors": [
          {
            "type": "script",
            "attributes": {
              "code": "pm.test(\"Status 200\", () => pm.response.to.have.status(200));\npm.test(\"Response code 0000\", () => {\n  const j = pm.response.json();\n  pm.expect(j.code).to.eql(\"0000\");\n});\npm.test(\"Has data field\", () => {\n  pm.expect(pm.response.json()).to.have.property(\"data\");\n});"
            }
          }
        ]
      },
      "delete": {
        "tags": [
          "内容"
        ],
        "operationId": "deleteContentBlock",
        "summary": "删除内容块",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "index",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "操作成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "0000"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Content"
                    }
                  }
                },
                "example": {
                  "code": "0000",
                  "data": {
                    "_id": "507f1f77bcf86cd799439013",
                    "version": 9,
                    "blocks": []
                  }
                }
              }
            }
          }
        },
        "x-apifox-post-processors": [
          {
            "type": "script",
            "attributes": {
              "code": "pm.test(\"Status 200\", () => pm.response.to.have.status(200));\npm.test(\"Delete success\", () => pm.expect(pm.response.json().code).to.eql(\"0000\"));"
            }
          }
        ]
      }
    },
    "/api/comments": {
      "get": {
        "tags": [
          "评论"
        ],
        "operationId": "getComments",
        "summary": "获取评论列表",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "threadId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "contentId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "操作成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "0000"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "items": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/Comment"
                          }
                        },
                        "pagination": {
                          "$ref": "#/components/schemas/Pagination"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "code": "0000",
                  "data": {
                    "comments": [
                      {
                        "_id": "507f1f77bcf86cd799439014",
                        "content": "这是一条评论",
                        "userId": "507f1f77bcf86cd799439011",
                        "threadId": "507f1f77bcf86cd799439012",
                        "createdAt": "2026-03-02T10:00:00.000Z"
                      }
                    ],
                    "pagination": {
                      "page": 1,
                      "limit": 20,
                      "total": 1
                    }
                  }
                }
              }
            }
          }
        },
        "x-apifox-post-processors": [
          {
            "type": "script",
            "attributes": {
              "code": "pm.test(\"Status 200\", () => pm.response.to.have.status(200));\npm.test(\"Response code 0000\", () => {\n  const j = pm.response.json();\n  pm.expect(j.code).to.eql(\"0000\");\n});\npm.test(\"Has data field\", () => {\n  pm.expect(pm.response.json()).to.have.property(\"data\");\n});"
            }
          }
        ]
      },
      "post": {
        "tags": [
          "评论"
        ],
        "operationId": "createComment",
        "summary": "创建评论",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "threadId",
                  "contentId",
                  "content"
                ],
                "properties": {
                  "threadId": {
                    "type": "string"
                  },
                  "contentId": {
                    "type": "string"
                  },
                  "content": {
                    "type": "string",
                    "maxLength": 5000
                  },
                  "parentId": {
                    "type": "string",
                    "description": "回复的评论 ID"
                  },
                  "mentions": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              },
              "example": {
                "threadId": "507f1f77bcf86cd799439012",
                "contentId": "507f1f77bcf86cd799439013",
                "content": "这是一条评论",
                "parentId": null,
                "mentions": []
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "操作成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "0000"
                    },
                    "data": {
                      "$ref": "#/components/schemas/Comment"
                    }
                  }
                },
                "example": {
                  "code": "0000",
                  "data": {
                    "_id": "507f1f77bcf86cd799439014",
                    "content": "这是一条评论",
                    "status": "active",
                    "userId": "507f1f77bcf86cd799439011"
                  }
                }
              }
            }
          }
        },
        "x-apifox-post-processors": [
          {
            "type": "script",
            "attributes": {
              "code": "pm.test(\"Status 201\", () => pm.response.to.have.status(201));\npm.test(\"Response code 0000\", () => pm.expect(pm.response.json().code).to.eql(\"0000\"));\npm.test(\"Has _id\", () => pm.expect(pm.response.json().data).to.have.property(\"_id\"));"
            }
          }
        ]
      }
    },
    "/api/comments/{parentId}/replies": {
      "get": {
        "tags": [
          "评论"
        ],
        "operationId": "getCommentReplies",
        "summary": "获取评论回复",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "parentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "操作成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "example": "0000"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Comment"
                      }
                    }
                  }
                },
                "example": {
                  "code": "0000",
                  "data": {
                    "replies": [
                      {
                        "_id": "507f1f77bcf86cd799439020",
                        "content": "这是一条回复",
                        "userId": "507f1f77bcf86cd799439011",
                        "parentId": "507f1f77bcf86cd799439014"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "x-apifox-post-processors": [
          {
            "type": "script",
            "attributes": {
              "code": "pm.test(\"Status 200\", () => pm.response.to.have.status(200));\npm.test(\"Response code 0000\", () => {\n  const j = pm.response.json();\n  pm.expect(j.code).to.eql(\"0000\");\n});\npm.test(\"Has data field\", () => {\n  pm.expect(pm.response.json()).to.have.property(\"data\");\n});"
            }
          }
        ]
      }
    },
    "/api/comments/{id}": {
      "put": {
        "tags": [
          "评论"
        ],
        "operationId": "updateComment",
        "summary": "更新评论",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "content": {
                    "type": "string",
                    "maxLength": 5000
                  }
                }
              },
              "example": {
                "content": "修改后的评论内容"
              }
            }
          }
[...]
