
.a2hs-container {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: .3s;
}

.a2hs-container_show {
  max-height: 200px;
}

.a2hs-box {
  transition: .3s;
  opacity: 0;
  position: relative;
  overflow: hidden;
  transform-origin: center;
}

.a2hs-box_show {
  opacity: 1;
}

.a2hs-first-bar {
  display: flex;
  align-items: flex-start;
  flex: 1;
  font-size: var(--title-font);
  font-weight: 700;
}


.a2hsf-footer {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.a2hs-close-box {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-block-start: -6px;
  margin-inline-end: -6px;
  transition: .15s;
  cursor: pointer;
  z-index: 50;
}


.a2hs-close-svg {
  width: 24px;
  height: 24px;
}

.a2hs-desc {
  margin-block-end: 16px;
}

.a2hs-btn-bar {
  display: flex;
}

.a2hs-btn {
  padding-block: 5px;
  min-width: 72px;
  z-index: 50;
}


.a2hs-btn_span {
  font-weight: 700;
}

@media(hover: hover) {
  .a2hs-close-box:hover {
    opacity: .7;
  }
}

@media screen and (max-width: 450px) {
  .a2hs-container_show {
    max-height: 250px;
  }
}

@container thus-mc-container (max-width: 450px) {
  .a2hs-container_show {
    max-height: 250px;
  }
}